<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <title>Parolino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <script src="/static/js/vue.min.js"></script>
  <script src="/static/js/socket.io.min.js"></script>
  <script src="/static/js/vue-socket.io-extended.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/NoSleep.min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <style>
    html, body {margin: 0; height: 100%; overflow: hidden}
    body {
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }
    .nopadding {
      padding: 0 !important;
      margin: 0 !important;
    }
    @media (orientation: landscape) {
      body {
        margin-left: 4vh;
        margin-right: 4vh;
        margin-left: 4svh;
        margin-right: 4svh;
      }
      #board {
        margin-left: 4vh;
        margin-left: 4svh;
      }
      #board td{
        font-size: 10vh;
        height: 22vh;
        width: 22vh;
        font-size: 10svh;
        height: 22svh;
        width: 22svh;
        text-align: center;
      }
      #board td:first-child:nth-last-child(5),
      #board td:first-child:nth-last-child(5) ~ td {
        font-size: 8vh;
        height: 17vh;
        width: 17vh;
        font-size: 8svh;
        height: 17svh;
        width: 17svh;
      }
      #words {
        float: left;
        height: calc(100vh - 2.5rem);
        width: calc(100vw - 108vh);
        height: calc(100svh - 2.5rem);
        width: calc(100svw - 108svh);
        overflow: scroll;
      }
      #words span{
        font-size: 6vh;
        font-size: 6svh;
      }
      #words .badge{
        font-size: 3vh;
        font-size: 3svh;
      }
      #words button{
        font-size: 2vh;
        font-size: 2svh;
        margin-right: 10px;
      }
    }
    @media (orientation: portrait) {
      body {
        margin-left: 4vw;
        margin-right: 4vw;
        margin-left: 4svw;
        margin-right: 4svw;
      }
      #board td{
        font-size: 10vw;
        height: 22vw;
        width: 22vw;
        font-size: 10svw;
        height: 22svw;
        width: 22svw;
        text-align: center;
      }
      #board td:first-child:nth-last-child(5),
      #board td:first-child:nth-last-child(5) ~ td {
        font-size: 8vw;
        height: 18vw;
        width: 18vw;
        font-size: 8svw;
        height: 18svw;
        width: 18svw;
      }
      #words {
        float: left;
        height: calc(100vh - 96vw);
        height: calc(100svh - 96svw);
        width: 100%;
        overflow: scroll;
      }
      #words span{
        font-size: 6vw;
        font-size: 6svw;
      }
      #words .badge{
        font-size: 3vw;
        font-size: 3svw;
      }
      #words button{
        font-size: 3vw;
        font-size: 3svw;
      }
    }
    #board td {
      border: solid 1px;
        border-color: lightgray;
    }
    #board td.selected{
      background-color: paleturquoise;
    }
    #words button:active{
      background-color: #dc3545!important;
      border-color: #dc3545!important;
    }
    #board {
      float:left;
    }
    .duplicate{
      text-decoration: line-through; 
    }
  </style>
  <script type="module">
    var noSleep = new NoSleep();

    const socket = io();

    Vue.use(VueSocketIOExt, socket);
    new Vue({
      el: '#app',
      data() {
        return {
          board: [[]],
          words: [],
          running: false,
          countDown: 0,
          results: {},
          validity: {},
          score: -1,
          scores: null,
          pathStarted: false,
          votes: {},
          size: null,
          vibrate: false,
        }
      },
      sockets: {
        connect() {
          console.log('socket connected');
          socket.emit("join", this.username, this.room);
        },
        board(board, running, size) {
          this.board = board;
          this.size = size;
          if (localStorage.getItem('words')) {
            if (JSON.parse(localStorage.getItem('words')).hasOwnProperty(this.board)){
              this.words = JSON.parse(localStorage.getItem('words'))[this.board];
            }else{
              this.words = [];
            }
          }

          if (localStorage.getItem('votes')) {
            if (JSON.parse(localStorage.getItem('votes')).hasOwnProperty(this.board)){
              this.votes = JSON.parse(localStorage.getItem('votes'))[this.board];
            }
          }
          
          console.log("running "+running)
          this.running = running;
          if (this.running){
            this.score = -1;
            this.results = {};
            this.validity = {};
            this.countDown = Math.round(this.running - new Date().getTime()/1000);
            if (this.counterId){
              clearTimeout(this.counterId);
            }
            this.countDownTimer();
          }else{
            if (this.counterId){
              this.countDown = 0;
            }
          }
        },
        results(results, validity, scores) {
          this.validity = JSON.parse(validity)
          this.scores = JSON.parse(scores)
          if (!this.running){
            this.results = JSON.parse(results)
          }
          if (this.scores[this.username]){
            this.score = this.scores[this.username][0]
          }else{
            this.score = -1;
          }
        },
      },
      methods: {
        start() {
            // TODO check navigator.userActivation and request vibration
            socket.emit('start');
          },
          reset() {
            socket.emit('reset');
          },
          getTouches(evt) {
            return evt.touches ||             // browser API
                  evt.originalEvent.touches; // jQuery
          },
          addLetter(evt){
            if (evt.touches!=undefined){
              var x = evt.touches[0].clientX;
              var y = evt.touches[0].clientY;
              var target = document.elementFromPoint(x, y);
            }else{
              var x = evt.clientX;
              var y = evt.clientY;
              var target = evt.target;
            }
            
            if (!target || !document.querySelector('#board').contains(target)){
              this.last = null;
            } else if (this.running){
              
              const box = target.getBoundingClientRect()

              var a = x - (box.left + box.right) / 2;
              var b = y - (box.top + box.bottom) / 2;

              if (a*a + b*b < (target.offsetHeight/2)**1.95){
                for (let i = 0; i < this.path.length; i++) { 
                  if (this.path[i].dataset.row == target.dataset.row && this.path[i].dataset.col == target.dataset.col){
                    return;
                  }
                }
                if (this.path.length == 0 || Math.abs(this.path[this.path.length -1].dataset.row - target.dataset.row) <= 1 && 
                    Math.abs(this.path[this.path.length -1].dataset.col - target.dataset.col) <= 1){
                  if (typeof target.dataset.letter === 'string'){
                    this.path.push(target);
                  }
                  target.classList.add("selected")
                }
                this.last = target;
              }
            }else{
              this.last = null;
            }
          },
          enableNoSleep(){
            // TODO notify user we could not request screen wake up lock
            noSleep.enable()
            document.removeEventListener('touchstart', this.enableNoSleep, false);
          },
          handleTouchStart(evt) {
            // Enable wake lock.
            // (must be wrapped in a user input event handler e.g. a mouse or touch handler)
            this.path = [];
            this.pathStarted = true;
            this.addLetter(evt);
          },
          handleTouchEnd(evt) {
            this.pathStarted = false;
            var newword = ""
            this.path.forEach(el => {
              el.classList.remove("selected");
              newword += el.dataset.letter;
            });
            newword = newword.toLowerCase()
            if (this.last && this.running){
              if (newword.length > 2){
                for (let i = 0; i < this.words.length; i++) { 
                  if (this.words[i] == newword){
                    return;
                  }
                }
                this.words.unshift(newword);
                let words = {};
                words[this.board] = this.words;
                localStorage.setItem('words', JSON.stringify(words));
              }
            }
          },
          handleTouchMove(evt) {
            if (this.pathStarted){
              this.addLetter(evt);
            }
          },
          countDownTimer () {
            if (this.countDown <= 0){
              navigator.vibrate(1000);
              this.words.sort();
              socket.emit('send', this.words);
            } else if (this.countDown > 0) {
              this.counterId = setTimeout(() => {
                this.countDown -= 1
                this.countDownTimer()
              }, 1000)
            } 
          },
          removeElement : function(word){
            this.words.splice(this.words.indexOf(word), 1);
            if (!this.running){
              socket.emit('send', this.words);
            }
          },
          generateSecretKey() {
              // Generate a secret key using crypto.getRandomValues()
              let secretKey = new Uint8Array(6);
              window.crypto.getRandomValues(secretKey);

              // Convert the secret key to a base64-encoded string
              let base64SecretKey = btoa(String.fromCharCode.apply(null, secretKey));

              // Set the secret key in the component's data
              return base64SecretKey;
          },
          updateSettings(key) {
            if (key == 'username'){
              localStorage.setItem('username', this.username);
              this.$forceUpdate();
            }
            if (key == 'room'){
              localStorage.setItem('room', this.room);
              socket.emit("join", this.username, this.room);
            }
            if (key == 'size'){
              socket.emit("size", this.size);
            }
            // user settings do not need broadcast
            if (key == 'vibrate') {
              localStorage.setItem('vibrate', String(this.vibrate));
            }
          },
          vote(word, value) {
            if (!this.running){
              if (this.votes[word] != value){
                this.votes[word] = value;
              } else {
                delete this.votes[word];
              }
              let votes = {};
              votes[this.board] = this.votes;
              localStorage.setItem('votes', JSON.stringify(votes));
              socket.emit('votes', this.votes);
            }
          },
      },
      created: function () {
        document.addEventListener('contextmenu', event => event.preventDefault());
        document.addEventListener('touchstart', this.enableNoSleep, false);
        
        document.addEventListener('touchstart', this.handleTouchStart, false);
        document.addEventListener('touchmove', this.handleTouchMove, false);
        document.addEventListener('touchend', this.handleTouchEnd, false);

        document.addEventListener('mousedown', this.handleTouchStart, false);
        document.addEventListener('mousemove', this.handleTouchMove, false);
        document.addEventListener('mouseup', this.handleTouchEnd, false);

        // initialise localstorage to known good defaults
        if (localStorage.getItem('username') == null) {
          localStorage.setItem('username', this.generateSecretKey());
        }
        if (localStorage.getItem('room') == null) {
          localStorage.setItem('room', "public");
        }
        if (localStorage.getItem('vibrate') == null) {
          localStorage.setItem('vibrate', String(false));
        }
        
        // finally bind app values to stored values
        this.username = localStorage.getItem('username');
        this.room = localStorage.getItem('room');
        this.vibrate = Boolean(localStorage.getItem('vibrate'));
      },
    })
  </script>
  </head>
  <body>
    <div id="app">

      <!-- settings page -->
      <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="settingsModalLabel">Settings</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" v-model="username" v-on:change="updateSettings('username')">
              </div>
              <div class="mb-3">
                <label for="room" class="form-label">Room</label>
                <input type="text" class="form-control" id="room" v-model="room" v-on:change="updateSettings('room')">
              </div>
              <div class="mb-3">
                <label for="size" class="form-label">Board size</label>
                <select class="form-select" id="size" v-model="size" v-on:change="updateSettings('size')">
                  <option value="4">4x4</option>
                  <option value="5">5x5</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="vibrate" class="form-label">Vibrate</label>
                <input class="form-check-input" type="checkbox" id="vibrate" v-model="vibrate" v-on:change="updateSettings('vibrate')">
              </div>
              <button type="button" class="btn btn-primary" @click="reset" :disabled="running" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .55rem;">Reset scores</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- game controls: start, settings, session score and total score -->
      <div>
        <h6 class="mt-1">
          <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#settingsModal" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            <i class="fa fa-bars"></i>
          </button>
          <div class="row">
            <div class="col nopadding">
              <button type="button" class="btn btn-primary" @click="start" :disabled="running" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .55rem;">Start</button>
            </div>
            <div class="col nopadding" v-if="countDown > 0 ">
              Time: {{countDown}}
            </div>
            <div class="col nopadding" v-if="score >= 0">
              Score: {{score}}
            </div>
            <div class="col nopadding" v-if="scores && scores.hasOwnProperty(username)">
              Total: {{scores[username][1]}}
            </div>
          </div>
        </h6>
      </div>
      
      <!-- current session words ->
      <div id="words">
        <h3 v-if="results[username]"><b>{{username}}</b> {{scores[username][0]}} ({{scores[username][1]}})</h3>
        <div class="row nopadding" v-for="(word, i) in words">
          <div class="col">
            <span :class="{ 'text-muted': results[username] && results[username][word] == 0,
                            duplicate: results[username] && results[username][word] == 0,
                            'text-warning': validity && validity[word] == 0 && results[username] && results[username][word] != 0,
                            'text-danger': validity && validity[word] < 0 && results[username] && results[username][word] != 0 }"
                            class="float-none">
              {{word}}
              <a :href="`https://www.treccani.it/vocabolario/ricerca/${word}/`" target="_blank" v-if="!running"><i class="fa-solid fa-circle-info text-secondary"></i></a>
            </span>
            <span class="badge badge-pill bg-primary" v-if="results[username] && results[username][word] > 0">{{results[username][word]}}</span>
            <span class="badge badge-pill bg-danger" v-if="validity && validity[word] < 0">
              <i class="fa-solid fa-heart"></i>
              {{validity[word]}}
            </span>
          </div>
          <div class="col text-end pt-4">
            <button class="btn btn-danger" v-on:click="removeElement(word)">Remove</button>
          </div>
        </div>
        <div v-for="key in Object.keys(results)" v-if="key!=username">
          <h3 v-if="results[key]"><b>{{key}}</b> {{scores[key][0]}} ({{scores[key][1]}})</h3>
          <div class="row nopadding" v-for="(word, i) in Object.keys(results[key])">
            <div class="col">
              <span :class="{ 'text-muted': results[key] && results[key][word] == 0,
                              duplicate: results[key] && results[key][word] == 0,
                              'text-warning': validity && validity[word] == 0 && results[key] && results[key][word] != 0,
                              'text-danger': validity && validity[word] < 0 && results[key] && results[key][word] != 0 }"
                              class="float-none">
                {{word}}
                <a :href="`https://www.treccani.it/vocabolario/ricerca/${word}/`" target="_blank" v-if="!running"><i class="fa-solid fa-circle-info text-secondary"></i></a>
              </span>
              <span class="badge badge-pill bg-danger" v-if="validity && validity[word] < 0">
                <i class="fa-solid fa-heart"></i>
                {{validity[word]}}
              </span>
            </div>
            <div class="col text-end pt-4">
              <button type="button" :class="{
                'btn-success': votes[word] == true,
                }" class="btn float-end" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: .75rem;"
                v-on:click="vote(word, true)"
                v-if="results[key] && results[key][word] != 0"
                >
                <i class="fa-regular fa-thumbs-up"></i>
              </button>
              <button type="button" :class="{
                'btn-danger': votes[word] == false,
                }" class="btn float-end" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1.5rem; --bs-btn-font-size: .75rem;"
                v-on:click="vote(word, false)"
                v-if="results[key] && results[key][word] != 0"
                >
                <i class="fa-regular fa-thumbs-down"></i>
              </button>
            </div>
          </div>
        </div>

      </div>

      <!-- current session board -->
      <table id="board">
        <template v-for="(row, i) in board">
          <tr>
            <td v-for="(cell, j) in row" :data-row="i" :data-col="j" :data-letter="cell">
              {{ cell }}
            </td>
          </tr>
        </template>
      </table>
    </div>
  </body>
</html>
